.App {
  text-align: center;
}

#wrapper.toggled #sidebar-wrapper {
  width: 360px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: -4px 0px 15px -9px #000000;
  box-shadow: -4px 0px 15px -9px #000000;
}
#wrapper.hide {
  padding-left: 360px;
}

.hide {
  transform: translateX(410px);
}

.toggled {
  width: 360px;
  margin-left: 0!important;
}

.button-toggle {
  margin-top: 20px;
  position: absolute;
  right: 400px;
  z-index: 2!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-toggle-hide {
  transform: translateX(360px);
}
body {
  overflow: hidden;
}